@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-link {
    @apply uppercase md:text-lg font-semibold text-right md:text-left;
  }

  h2 {
    @apply text-6xl md:text-8xl font-italiana;
  }

  h3 {
    @apply text-4xl md:text-5xl font-italiana;
  }

  p {
    @apply text-xl;
  }

  .plan-list-item {
    @apply text-center lg:text-left text-xl font-instrument-sans mb-4;
  }
}

html {
  scroll-behavior: smooth;
}

.main-content {
  background-image: url("./global-bg.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
}
