@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-link {
    @apply uppercase text-lg font-semibold;
  }

  h2 {
    @apply text-8xl;
  }

  h3 {
    @apply text-6xl;
  }

  p {
    @apply text-lg;
  }
}

.main-content {
  background-image: url("./global-bg.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
}
